<!DOCTYPE html>
{% load static %}
{% load staticencoder %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tajinder's English Classes&#174 - IELTS PTE CELPIP STUDY VISA SPOKEN ENGLISH - ONLINE CLASSES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="English, Grammar Classes, Listening, Writing, Reading, Speaking, Interviews, study visa, Canada, Australia, USA, UK, New Zealand, Essays, Bands, Letters, Academic, General Training, GT, Students, PR, mohali, Study abroad, IELTS, PTE, CELPIP, British Council, IDP Australia, IDP, 7 bands, 5.5 bands, 6 bands, 7 bands, 9 bands, institute, best, teachers, personal teaching, chandigarh, panchkula, tricity, punjab, india, best ielts institute in mohali, best pte institute in mohali">
    <meta name="description" content="IELTS, PTE, CELPIP, STUDY VISA, study visa, Spoken English, Grammar and Online Classes with Material">
    <meta name="author" content="Webtunix solutions - Business Solution Provider">
    <link rel="icon" href="{% static '' %}images/favicon.ico"/>
    <link rel="stylesheet" href="{% static '' %}css/main.css">
    <link async rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
   <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '' %}css/style.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.css'>
</head>
<body>